@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'jost', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ffffff;
    --text-color: #1D1D1D;;
    --secound-color: #a09dab;
    --main-color: #11274e;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.6rem;
    --p-btn: 1.2rem;
}

html{
    font-size: 66.5%;
    scroll-behavior: smooth;
}

body{
    background: #ffffff;
    color: var(--text-color);
}

/*----Formulario---*/
.card{
    min-height: 190vh;
    height: 100%;
    width: 100%;
    padding: 90px 10%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
}

.card_form{
    width: 100%;
    background: #fff;
    padding: 30px 9%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.image img{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.title{
    font-size: 2.5rem;
    color: #2C7D7A;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 40px;
}

.input-box{
    margin-bottom: 30px;
}

.input-box .details{
    font-weight: 500;
    font-size: 16px;
    color: #2C7D7A;
}

.input-radio{
    display: block;
    margin-bottom: 10px;
}

.input-radio .details{
    font-weight: 500;
    font-size: 16px;
    color: #2C7D7A;
}

.card_form .input-box .input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.termo{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
}

.termo p{
    text-align: justify;
    font-size: 14px;
}

p{
    font-family: 'Jost';
    font-weight: 400;
    color: #616161;
    font-size: var(--p-font);
    line-height: 28px;
    margin-bottom: 20px;
}

form .button{
    height: 35px;
    margin: 15px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.4s ease;
    background:  #2C7D7A;
    cursor: pointer;
}

/*------------------INICIO HEADER --------------*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(244,255,255, 0.8);
    padding: 30px 10%;
    transition: .3s;
}

a{
    text-decoration: none;
}

.logo img{
    max-width: 100%;
    width: 120px;
    height: auto;
}

.navlist{
    display: flex;
}

.navlist li{
    position: relative;
}

.navlist li a{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 540;
    padding: 5px 12px;
    transition: 0.3s ease;
}

.navlist li a:hover{
    color: #0ABAB5;
}

#menu-icon{
    font-size: 38px;
    color: #2C7D7A;
    z-index: 10001;
    cursor: pointer;
    padding: 20px;
    display: none;
}

/*---btn-top-whatsapp---*/
.top-btn-w{
    display: inline-block;
    padding: 5px 15px;
    background: transparent;
    border-radius: 30px;
    font-size: var(--p-btn);
    font-weight: 400;
    transition: ease .40s;
    letter-spacing: 1px;
    background: rgb(89, 255, 122);
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    opacity: 1;
    gap: 2px;
    transition: 0.3s all ease-in-out;
}

.top-btn-w:hover{
    background: #2eb943;
}

.fale::before{
    content: "Quero ser atendido agora";
    color: #FFFFFF;
}

.top-btn-w img{
    width: 30px;
    height: 30x;
    display:inline-block; 
    vertical-align:middle; 
    margin-right:10px;
}

.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border-radius: 30px;
    font-size: var(--p-btn);
    font-weight: 500;
    transition: ease .40s;
    letter-spacing: 1px;
    background: #0ABAB5;
    border-radius: 40px;
    color: #ffffff;

}

.top-btn:hover{
    box-shadow: #1D1D1D 5px 18px 10px -15px;
}

.top-btn::before{
    content: 'QUERO SER ATENDIDO AGORA';
}

/*----FIM HEADER-----*/

/*-----SECTION INICIO----*/

section{
    padding: 100px 10%;
    background-color:  #F4FFFF;
}

.home{
    min-height: 100vh;
    height: 120%;
    width: 100%;
    padding: 30px 15%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}

.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}

.home-text{
    margin-left: -7%;
}

.home-text h3{
    line-height: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

span{
    color: rgba(255, 127, 50, 1);
}

.home-text p{
    font-family: 'Jost';
    font-weight: 400;
    color: #616161;
    font-size: var(--p-font);
    line-height: 28px;
    margin-bottom: 20px;
}

.btn{
    color: var(--bg-color);
    padding: 10px 40px;
    font-weight: 400;
    font-size: var(--p-btn);
    line-height: 24px;
    transition: ease .40s;
    display: inline-block;
    background: #FF7F32;
    border-radius: 40px;
}

.btn:hover{
    box-shadow: #1D1D1D 5px 18px 10px -15px;
}

.home-img img{
    max-width: 100%;
    width: 450px;
    height: auto;
}

/*---PREVENÇÃO---*/


.top-title{
    margin-top: 30px auto;
    min-height: 1vh;
    height: 10%;
    width: 80%;
    padding: 10px 15%;
    display: flex;
    align-items: center;
    background: #ffffff;
}
.prev-title{
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.prev-title span{
    color: #0ABAB5;
}


.prev{
    min-height: 70vh;
    height: 150%;
    width: 100%;
    padding: 10px 15%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    grid-gap: 20rem;
    background: #ffffff;
}

.prev-text h3{
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.prev-img img{
    max-width: 100%;
    width: 980px;
    height: auto;
}

.prev-text p{
    font-family: 'Jost';
    font-weight: 400;
    color: #616161;
    font-size: var(--p-font);
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
}

.prev-text span{
    color: #0ABAB5;
}

.btn-prev{
    background-color: #0ABAB5;
    color: var(--bg-color);
    padding: 10px 40px;
    font-weight: 500;
    font-size: var(--p-btn);
    line-height: 24px;
    transition: ease .40s;
    display: block;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
    border: none;
    margin-bottom: 20PX;
}

.btn-prev:hover{
    box-shadow: #1D1D1D 5px 18px 10px -15px;
}



header.sticky{
    background: var(--bg-color);
    padding: 13px 12%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.receita{
    min-height: 80vh;
    height: 150%;
    width: 100%;
    padding: 15px 15%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    grid-gap: 20rem;
    background: #ffffff;
}



.receita-img img{
    max-width: 100%;
    width: 680px;
    height: auto;
}

.items span{
    color: #FF7F32;
}

.items h3{
    font-family: 'Poppins';
    font-size: var(--h2-font);
    font-weight: 700;
    text-align: right;
    margin-bottom: 20px;
}

.items p{
    font-family: 'Jost';
    font-weight: 400;
    color: #616161;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.03em;
}

.btn-receita{
    background-color: #0ABAB5;
    color: var(--bg-color);
    padding: 10px 40px;
    font-weight: 500;
    font-size: var(--p-btn);
    line-height: 24px;
    transition: ease .40s;
    display: inline-block;
    border-radius: 40px;
}

.btn-receita:hover{
    box-shadow: #1D1D1D 5px 18px 10px -15px;

}

/*---MODAL---*/

.modal::backdrop{
    background-color: rgba(0,0,0,0.4);
}

#modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    position: relative;
    border-radius: 20px;
    margin-top: 10px; 
    overflow: hidden; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 1;
}
/*---MODAL2---*/

.modal2::backdrop{
    background-color: rgba(0,0,0,0.4);
}

#modal2 {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content2 {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    position: relative;
    border-radius: 20px;
    margin-top: 10px;  
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 1;
}

/*---FIM---*/

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.especial{
    background: #ffffff;
    display: grid;
    padding: 35px 15%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    position: relative;
    grid-gap: 2rem;
}

.especial-text h3{
    font-family: 'Poppins';
    font-size: var(--h2-font);
    font-weight: 700;
}

.especial span{
    color: rgba(255, 127, 50, 1);
}

.especial-text p{
    font-family: 'Jost';
    font-weight: 500;
    font-size: var(--p-font);
    color: #616161;
    line-height: 28px;
    margin-bottom: 30px;
}

.especial-img img{
    max-width: 110%;
    width: 500px;
    height: auto;
}

.saude{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.sub-box{
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
    box-shadow: 18px 0px 87px 0px rgba(8, 12, 57, 0.05);
}

.sub-img img{
    max-width: 100%;
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.sub-box h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.sub-box p{
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 20px;
    -webkit-columns: 250px 3;
    -moz-columns: 250px 3;
    columns: 250px 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    word-spacing: -1px;
    font-weight: 400;
}

.sub-box:hover{
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgba(8, 12, 57, 0.09);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}

.sub-saude{
    background: #ffffff;
    min-height: 100vh;
    height: 120%;
    width: 100%;
    padding: 30px 10%;
    align-items: center;
    grid-gap: 4rem;
}

.saude-text{
    margin: 40px;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.saude-text h3{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--h2-font);
}

.saude-text span{
    color: #0ABAB5;
}

.saude-text p{
    font-family: 'Jost';
    font-weight: 500;
    font-size: var(--p-font);
    color: #616161;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 auto;
    justify-content: center;
    word-spacing: 0px;
}


.receitas{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
    background: white;
    padding: 100px 13%;
}



.receitas-img img{
    max-width: 100%;
    width: 380px;
    height: auto;
}

.item span{
    color: #0ABAB5;
}

.item h3{
    font-family: 'Poppins';
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
}

.item p{
    font-family: 'Jost';
    font-weight: 400;
    font-size: var(--p-font);
    color: #616161;
    line-height: 28px;
    margin-bottom: 30px;
    
}

.btn-receita{
    background-color: #0ABAB5;
    color: var(--bg-color);
    padding: 10px 40px;
    font-weight: 500;
    font-size: var(--p-btn);
    line-height: 24px;
    transition: ease .40s;
    display: inline-block;
    border-radius: 40px;
}

.btn-receita:hover{
    box-shadow: #1D1D1D 5px 18px 10px -15px;

}

/* Fronte do Roda pe */
.footer{
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 10rem;
    flex-direction: row;
}

.footer .box-container .box h3{
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #2C7D7A;
    font-family: 'Poppins';
    font-weight: 400;
}

.footer .box-container .box h2{
    text-decoration-line: underline;
    color: #666666;
    cursor: pointer;
}

.footer .box-container .box a{
    color: #1D1D1D;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    font-weight: 300;
    font-family: 'jost';
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: 2s linear;
    font-size: var(--p-font);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer-img img{
    max-width: 100%;
    width: 130px;
    height: auto;
    margin-bottom: 20px;

}

.social a{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #2C7D7A;
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 5px;
    margin-bottom: 30px;
}

.social a:hover{
    transform: scale(1.1);
    background: #0ABAB5;
    transition: .5s;
}


/*--whatsapp--*/
#div-fixa{
    position: fixed;
    bottom: 20px;
    margin: 0 20px;
    right: 0;
    background: rgb(89, 255, 122);
    width: 230px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s all;
}

#div-fixa.shrink{
    width: 50px;
    transition:  0.5s all;
    overflow: hidden;
}

#div-fixa img{
    width: 50px;
    height: 50px;
}

#div-fixa a .flex-itens{
    display: flex;
    align-items: center;
}

#div-fixa a .flex-itens span{
    display: block;
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 16px;
    min-width: 170px;
}


#div-fixa a .flex-itens span.aparecer{
    transition: 0.5s all;
    opacity: 1;
}

/*.flutuar{
    animation-name: flutuar;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes flutuar {
    from{
        transform: translate3d(0,0,0);
        filter: brightness(100%);
    }
    to{
        transform: translate3d(0,-15px,0);
        filter: brightness(150%);
    }
}*/

.ends{
    text-align: center;
    padding: 40px;
    background: #ffffff;
}

.ends .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.ends .credit-footer{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: 2rem;
}

.ends .credit-footer span{
    color: #2C7D7A;
}

.pague-img img{
    display: flex;
    max-width: 100%;
    width: 150px;
}

/*---form contato---*/

.contact .container .contact-inner{
    justify-content: center;
    background-position: center;
    min-height: 100vh;
    height: 120%;
    width: 100%;
    padding: 30px 10%;
    align-items: center;
}

.contact .container .contact-inner .contact-right form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact .container .contact-inner .contact-right form .form-group{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact .container .contact-inner .contact-right form .form-group input,
.contact .container .contact-inner .contact-right form .form-group select,
.contact .container .contact-inner .contact-right form .form-group textarea{
    width: 100%;
    height: 4.2rem;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: transparent;
    border: .1rem solid rgba(44, 44, 44, 0.3);
    border-radius: .8rem;
    color: var(--mainColor);
    outline: none;
    transition: all .3s ease;
}

.contact .container .contact-inner .contact-right form .form-group input:focus,
.contact .container .contact-inner .contact-right form .form-group textarea:focus{
    border-color: rgba(6, 255, 255, 0.8);
}

.contact .container .contact-inner .contact-right form .form-group input::placeholder,
.contact .container .contact-inner .contact-right form .form-group textarea::placeholder{
    color: #797878;
}

.contact .container .contact-inner .contact-right form .form-group input:focus::placeholder,
.contact .container .contact-inner .contact-right form .form-group textarea:focus::placeholder{
    opacity: 0;
}

.contact .container .contact-inner .contact-right form .form-group textarea{
    font-family: var(--fontFamilyExtra);
    width: 100%;
    height: 20rem;
    padding: 1.6rem 3rem 3rem;
    resize: none;
}

.contact .container .contact-inner .contact-right form .btn{
    padding: 1rem 3.8rem;
    display: inline-block;
    align-self: flex-start;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.contact .container .contact-inner .contact-right form .btn span{
    position: relative;
    z-index: 2;
    transition: all .3s ease;
}

/*----COOKIES-----*/
.wrapper{
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    background: #fff;
    padding: 20px 20px 25px 20px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.30);
    text-align: center;
  }
  .wrapper.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  ::selection{
    color: #fff;
    background: #FCBA7F;
  }
  .wrapper img{
    max-width: 50px;
  }
  .content label{
    font-size: 20px;
    font-weight: 600;
  }
  .content{
    margin-top: 10px;
  }
  .content p{
    color: #858585;
    margin: 5px 0 20px 0;
    font-size: 1.3rem;
  }
  .content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: var(--p-btn);
    font-weight: 500;
    border-radius: 5px;
    background: #2C7D7A;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons button:hover{
    transform: scale(0.97);
  }
  .buttons .item{
    margin: 0 10px;
  }
  .buttons a{
    color: #2C7D7A;
    transition: all 0.3s;
  }
  
  .buttons a:hover{
    border: #2C7D7A solid 1px;
    padding: 10px 20px;
    border-radius: 5px;
  }

/*responsividade*/

@media (max-width: 1250px){
     header{
        width: 100%;
        top: 0;
        right: 0;
        padding: 10px 2%;
        transition: .3s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .3s;
    }
    section{
        padding: 70px 3%;
        transition: .3s;
    }
    .navlist li a{
        padding: 1rem;
        margin: 0.5rem;
        font-size: 1rem;
    }
    .top-btn{
        font-size: 1rem;
    }
    .contact{
        width: 100%;
        transition: .3s;
    }
    :root{
        --big-font: 4rem;
        --h2-font: 2.3rem;
        --p-font: 1.5rem;
        transition: .3s;
    }
}


@media (max-width: 970px){
    #menu-icon{
        display: inline-block;
        gap: 30px;
    }
    .home{
        min-height: 80vh;
    }
    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #0ABAB5;
        text-align: right;
        transition: all .40s;
    }
    .navlist li a{
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(--bg-color);
        color: var(--bg-color);
    }
    .navlist li a:hover{
        background: var(--bg-color);
        color: var(--main-color);
    }

    .navlist li a::after{
        display: none;
    }

    .navlist.active{
        top: 100%;
    }
}


@media (max-width: 800px){
    .top-btn::before{
        font-size: 1rem;
        content: "ATENDIMENTO";
    }
    .btn-receita .btn{
        align-items: center;
    }

    .fale::before{
        content: "WhatsApp";
    }
 
    .top-btn-w{
        font-size: var(--p-btn);
    }

    .home{
        grid-template-columns: 1fr;
        min-height: 130vh;
        grid-gap: 1rem;
    }
    .home-text{
        padding-top: 55px;
        text-align: left;
    }
    .home-img{
        text-align: center;
    }
    .home-img img{
        max-width: 100%;
        width: 680px;
        height: auto;
    }

    .especial{
        padding: 70px 5%;
    }

    .prev{
        grid-template-columns: 1fr;
        padding: 100px 5%;
    }

    .prev-text h3{
        margin-bottom: 20px;
    }

    .prev-text p{
        text-align: left;
        justify-content: space-evenly;
    }

    .prev-img{
        text-align: center;
    }

    .prev-img img{
        max-width: 100%;
        width: 680px;
        height: auto;
        margin-top: -150px;
    }

    .top-title{
        padding: 10px 3%;
    }

    .receita{
        grid-template-columns: 1fr;
        padding: 10px 5%;
    }
    .receita-img{
        text-align: center;
    }
    .receita-img img{
        max-width: 100%;
        width: 680px;
        height: auto;
        text-align: center;
        justify-content: center;
        margin-bottom: -120px;
        margin-top: 30px;
    }

    .receitas{
        grid-template-columns: 1fr;
        padding: 100px 5%;
    }
    .receitas-img{
        text-align: center;
    }
    .receitas-img img{
        max-width: 100%;
        width: 250px;
        height: auto;
        text-align: center;
        justify-content: center;
        padding: 10px 10px;
    }

    .especial-text p{
        word-spacing: 0px;
        font-family: 'jost';
    }

    .especial-img img{
        max-width: 100%;
        width: 480px;
        height: auto;
    }
    h3{
        font-size: 3rem;
    }
    .footer {
        justify-content: center;
        text-align: center;
    }

    .footer-img{
        text-align: center;
        justify-content: center;
    }
    :root{
        --big-font: 3.4rem;
        --h2-font: 2rem;
        --p-font: 1.7rem;
        transition: .3s;
    }

    section{
        padding: 70px 3%;
        transition: .3s;
    }
}

@media screen and (max-width:767px) {
    iframe[src*="https://docs.google.com/forms/d/1HLOkKLwE0U3sVgtjUsMq08KOObpp4uuIVc7Hht2paRU/viewform?edit_requested=true"] {
        width: 100% !important;
        height: 800px;
    }
}

@media screen and (max-width:767px) {
    iframe[src*="https://docs.google.com/forms/d/e/1FAIpQLSe5ZnUS9gr6wIX30iboPX0jma4XO2wXDOIkWwPxoMV87n-93Q/viewform"] {
        width: 100% !important;
        height: 800px;
    }
}